*{
    font-family: 'Press Start 2P', monospace;
}

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background: rgb(216, 185, 254);
    background: linear-gradient(180deg, rgb(217, 187, 252) 0%, rgba(213, 185, 254, 0.942) 36%, rgba(202,186,240,0.938813025210084) 100%);
}

.text-border{
    text-shadow: -3px 0 purple, 0 3px purple, 3px 0 purple, 0 -3px purple;
}

.text-border-black{
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.text-purple{
    color:rgb(146, 110, 192)
}


#lock{
    top: 0px;
    background-image: url(./assets/bg.jpeg);
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

#confetti-canvas{
    position: absolute;
    top: 0px;
}

.etapa{
    position: relative;
}

.etapa .icone{
    font-size: 100px;
}

.main-bg{
    background-color: #49eab9;
}

button:not(.no-style):hover{
    background-color: darkorchid;
    color: white;
}

.bg-1{ background-color: #27da89; }
.bg-2{ background-color: #52ffb1; }
.bg-3{ background-color: #75e6c4; }

.bg-1::after, .bg-2::after, .bg-3::after{
    position: absolute;
    margin: auto;
    font-size: 270px;
    top: -40px; 
    right: 20%;
    z-index: 1;
}

.bg-1::after{ content: "1"; color: white}
.bg-2::after{ content: "2"; color: rgb(255, 252, 90)}
.bg-3::after{ content: "3"; color: rgb(255, 251, 6)}
.no-style{
    background-color: transparent;
    color: inherit;
    border: none;
    margin: 0px;
    padding: 0px;
    cursor: help !important;
}

.inputs-rgb input{
    width: 40px;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

.modal-content.acertou{
    -webkit-animation: bgcolor 1s infinite;
    animation: bgcolor 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.hide{
    display: none;
}

.text-pink{ color: pink}

.text-small{
    font-size: 5px;
}